* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: darkgray;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #1C1C1C;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-right: 30px;
}

nav a:hover {
    color: #cccccc;
    text-decoration: underline;
}

.container {
    background: #fafafa;
    border-radius: 10px;
    width: 700px;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
}

.titulo {
    background: #eee;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.container button {
    background: #ddd;
    border: 2px solid #ccc;
    font-size: 14px;
    width: 30%;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 3% 6%;
}

.container button:hover {
    background: #A9A9A9;
    cursor: pointer;
}




@media screen and (max-width: 800px){
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    .header {
        flex-direction: column;
    }

    .imagem {
        margin-bottom: 10%;
    }
}